[includeIf "gitdir:~/Documents/Code/Work/"]
  	path = ~/.config/git/work/.gitconfig
[includeIf "gitdir:~/Documents/Code/Personal/"]
  	path = ~/.config/git/personal/.gitconfig
[includeIf "gitdir:~/.local/share/yadm/repo.git"]
	path = ~/.config/git/personal/.gitconfig
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim
	ignorecase = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
